<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="container-md" th:fragment="footer">
        <footer>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2022. 양석호 All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="https://github.com/noobbrother112" title="GitHub" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#" title="카카오톡" target="_blank"><i class="fa-solid fa-message"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="mailto:tjrgh@kakao.com" title="이메일"><i class="fa-solid fa-envelope"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://study-lag.tistory.com/" title="티스토리" target="_blank"><i class="fa-solid fa-t"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</html>